Flask==1.1.1
gunicorn==19.9.0
google-cloud-bigquery==1.23.1
git+https://github.com/GoogleCloudPlatform/fourkeys.git#egg=shared&subdirectory=shared
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability